h1.blocktext {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-size: 40px;
    color: #a5a5a5;
    font-weight: lighter;
    margin-left: 100px;
    margin-right: auto;
    width: 700px;
    margin-top: 100px;
}

.logo img {

    position: relative;
    left: 100px;
    top: 18px;
    height: 45px;
    bottom: 0px;
    }

span {
    font-family: "Verdana";
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;

}

.myname {
    width: 150px;
    height: 20px;
    position: relative;
    bottom: 16px;
    left:140px;

}

.actualbuttons {
    position: absolute;
    width: 350px;
    height: 20px;
    right: 0px;
    left: 50%;
    top: 36px;
    bottom: 0px;
    display: inline-block;
}

.navbartop {
    width: 100%;
    height: 80px;
    position: relative;
}

nav{
    position: relative;
    width: 400px;
    font-family: "Verdana";
    font-size: 11px;
    right: 0px;
    top: 0px;
    
}

nav > a {
    text-decoration: none;
    color: #adadac;    
}


nav a + a {
    margin-left: 8px;
    
}

/*dh logo*/


}

#labels {
    position: relative;
    left: 160px;
    width: 600px;
    height: auto;
    top: -30px
}

.about-me {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-size: 30px;
    color: #a5a5a5;
    font-weight: lighter;
    margin-left: 60px;
    margin-right: 85px;
    width: 720px;
    margin-top: 180px;
}

.workcontent {
    position: relative;
    width: 800px;
    height: 1000px;
    border: 1px red solid;
    margin-left: 70px;
}
.work-copy {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-size: 25px;
    color: #a5a5a5;
    font-weight: lighter;
    margin-left: 130px;
    width: 700px;
    margin-top: 100px;
}

.blog-copy {
    font-family: "Verdana";
    font-style: normal;
    font-size: 12px;
    text-align: left;
    width: 600px;
    color: #a5a5a5;
}

.work {
    margin: 0px;
    float: left;
}

.copyright #copyright {
    position: relative;
    font-family: "Verdana";
    font-style: normal;
    font-size: 10px;
    text-align: center;
    bottom: 0;
    border: 1px red solid;
    width: 100%;
}

    


.resume-head {
    font-family: "arial";
    font-style: normal;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 200px;
    color: #a5a5a5;
} 

.resume-company {
    font-family: "Arial";
    font-style: bold;
    font-size: 15px;
    font-weight: 800;
    margin-left: 200px;
}

.resume-title {
    font-family: "Arial";
    font-style: normal;
    font-size: 15px;
    font-weight: 200;
    margin-left: 200px;
}

.resume-dates {
    font-family: "Arial";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    margin-left: 200px;
    margin-top: 0;
}

.technology {
    font-family: "Arial";
    font-style: bold;
    font-size: 15px;
    font-weight: 800;
    margin-left: 200px;
}

.expertise {
    font-family: "Arial";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    margin-left: 200px;
    margin-top: 0;
}

img[src*="portrait"] {
    position: relative;
    width: 15%;
    top: 130px;
    left: 75px;  
}

footer {
    background-color: lightgrey;
    position: relative;
    padding-top: 0px;
    width: 100%;
    height: 200px;
    bottom: 0px;
}

#nobullet li {
    font-size: 12px;
    margin-top: 8px
}

.address #nobullet{
    list-style-type: none;
    position: relative;
    font-family: "Verdana";
    font-size: 10pt;
    margin-bottom: 0px;
    border: 1px red solid;
    width: 150px;  
}
    
.address {
    position: relative;
    width: 200px;
    border: 1px blue solid;
    margin-left: 100px;
    font-size: 10px;
} 

.whatido li{
    list-style-type: none;
    width: 100px;
    margin-top: 8px;
    font-family: "Verdana";
    font-size: 12px;
}

.whatido {
    position: relative;
    width: 200px;
    border: 1px red solid;
    float: left;
    margin: 5px;
}

.social {
    position: absolute;
    width: 400px;
    text-align: center;
 
}



