h1.blocktext {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-size: 40px;
    color: #a5a5a5;
    font-weight: lighter;
    margin-left: 100px;
    margin-right: auto;
    width: 700px;
    margin-top: 100px;
}

.logo img {

    position: relative;
    left: 100px;
    top: 18px;
    height: 45px;
    bottom: 0px;
    }

span {
    font-family: "Verdana";
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;

}

.myname {
    width: 150px;
    height: 20px;
    position: relative;
    bottom: 16px;
    left:140px;

}

.actualbuttons {
    position: absolute;
    width: 350px;
    height: 20px;
    right: 0px;
    left: 50%;
    top: 36px;
    bottom: 0px;
    display: inline-block;
}

.navbartop {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: beige;
    z-index: 100;
}

nav{
    position: relative;
    width: 400px;
    font-family: "Verdana";
    font-size: 11px;
    right: 0px;
    top: 0px;
    
}

nav > a {
    text-decoration: none;
    color: #adadac;    
}


nav a + a {
    margin-left: 8px;
    
}

/*dh logo*/


}

#labels {
    position: absolute;
    right: 300px;
    width: 600px;
    height: auto;
    top: 30px;
    border: 1px red solid;
}

.aboutmebody {
    height: 600px;
    width: 100%;
    border: 1px green solid;
}

img[src*="portrait"] {
    position: relative;
    display: inline-block;
    width: 10%;
    left: 95px; 
    border: 4px darkgrey solid;
    float: left;
    margin-top: 160px;

}

.about-me {
    font-family: "Verdana";
    font-size: 13px;
    color: #a5a5a5;
    margin-left: 120px;
    width: 600px;
    height: 500px;
    margin-top: 150px;
    display: inline-block;
    line-height: 30px;\
    float: left;

}

.workcontent {
    position: relative;
    width: 800px;
    height: 1000px;
    margin-left: 70px;
}
.work-copy {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-size: 25px;
    color: #a5a5a5;
    font-weight: lighter;
    margin-left: 130px;
    width: 700px;
    margin-top: 100px;
}

.blog-copy {
    font-family: "Verdana";
    font-style: normal;
    font-size: 12px;
    text-align: left;
    width: 400px;
    color: #a5a5a5;
    padding-top: 5px;
    line-height: 190%;
}

#blobtitle {
    font-size: 15px;
    color: grey;
    padding-top: 10px;
}

.blogbody {
    position: relative;
    width: 100%;
    height: 800px;
}

.insideblogbody {
    position: relative;
    width: 400px;
    height: 800px;
    left: 20%;
    top: 100px;
}

.pears {
    width: 400px;
    height: auto;
    left: 20%;
    
}

.work {
    margin: 0px;
    float: left;
}

.copyright #copyright {
    position: relative;
    font-family: "Verdana";
    font-style: normal;
    font-size: 10px;
    text-align: center;
    bottom: 0px;
    width: 100%;
    
}

.copyright {
    position: absolute;
    bottom: 0px;
    display: block;
    margin-left: 70px;
}

    


.resume-head {
    font-family: "arial";
    font-style: normal;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 200px;
    color: #a5a5a5;
} 

.resume-company {
    font-family: "Arial";
    font-style: bold;
    font-size: 15px;
    font-weight: 800;
    margin-left: 200px;
}

.resume-title {
    font-family: "Arial";
    font-style: normal;
    font-size: 15px;
    font-weight: 200;
    margin-left: 200px;
}

.resume-dates {
    font-family: "Arial";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    margin-left: 200px;
    margin-top: 0;
}

.technology {
    font-family: "Arial";
    font-style: bold;
    font-size: 15px;
    font-weight: 800;
    margin-left: 200px;
}

.expertise {
    font-family: "Arial";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    margin-left: 200px;
    margin-top: 0;
}

footer {
    background-color: lightgrey;
    position: relative;
    padding-top: 0px;
    width: 100%;
    height: 200px;
    bottom: 0px;
}

#nobullet li {
    font-size: 12px;
    margin-bottom: 8px
}

.address #nobullet{
    list-style-type: none;
    position: relative;
    font-family: "Verdana";
    font-size: 10pt;
    width: 150px;  
}
    
.address {
    position: relative;
    width: 200px;
    font-size: 10px;
    margin-left: 40px;
    float: left;
    top: 10px;
} 

.whatido li{
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 100px;
    margin-bottom: 8px;
    font-family: "Verdana";
    font-size: 12px;
    
}

.whatido {
    position: relative;
    display: inline-block;
    width: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.social {
    font-family: "Verdana";
    font-size: 11px;
    text-decoration: none;
    position: relative;
    display: block;
    width: 400px;
    text-align: center;
    float: right;
    margin: 20px;
 
}

.contactbody {
    position: relative;
    width: 100%;
    height: 400px;
}

.contactinside {
    position: absolute;
    width: 600px;
    height: 200px;
    margin-left: 200px;
    top: 120px;
    
}

.contactinside h1 {
    font-family: "Verdana";
    font-size: 12px;
    color: grey;
    
}

.contactinside > p {
    font-family: "Verdana";
    font-size: 10px;
    color: grey;
}

