h1.blocktext {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-size: 40px;
    color: #a5a5a5;
    font-weight: lighter;
    margin-left: 130px;
    margin-right: auto;
    width: 700px;
    margin-top: 100px;
}

span {
    font-family: "Verdana";
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 65px;
    left: 110px;
}

nav {
    position: absolute;
    top: 65px;
    right: 50px;
    font-family: "Verdana";
    font-size: 12px;
    color: #adadac;
}

/*dh logo*/

img:first-child {
    position: relative;
    left: 50px;
    top: 25px;
    height: 75px;
}

#labels {
    position: relative;
    left: 160px;
    width: 600px;
    height: auto;
    top: -30px
}

footer {
    background-color: none;
    position: relative;
    height: 40px;
    
}

nav > a {
    text-decoration: none;
    color: #adadac;
}

nav a + a {
    margin-left: 8px;
    
}

.about-me {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-size: 30px;
    color: #a5a5a5;
    font-weight: lighter;
    margin-left: 60px;
    margin-right: auto;
    width: 720px;
    margin-top: 300px;
}

.work-copy {
    font-family: "TimesNewRoman";
    font-style: italic;
    font-size: 25px;
    color: #a5a5a5;
    font-weight: lighter;
    margin-left: 130px;
    width: 700px;
    margin-top: 100px;
}

.blog-copy {
    font-family: "Verdana";
    font-style: normal;
    font-size: 12px;
    text-align: left;
    width: 600px;
    color: #a5a5a5;
}

.work {
    margin: 10px;
    float: left;
}

#copyright {
    font-family: "Verdana";
    font-style: normal;
    font-size: 10px;
    margin-bottom: 40px;
    text-align: center;
}

#nobullet li {
    list-style-type: none;
}

.resume-head {
    font-family: "arial";
    font-style: normal;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 200px;
    color: #a5a5a5;
} 

.resume-company {
    font-family: "Arial";
    font-style: bold;
    font-size: 15px;
    font-weight: 800;
    margin-left: 200px;
}

.resume-title {
    font-family: "Arial";
    font-style: normal;
    font-size: 15px;
    font-weight: 200;
    margin-left: 200px;
}

.resume-dates {
    font-family: "Arial";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    margin-left: 200px;
    margin-top: 0;
}

.technology {
    font-family: "Arial";
    font-style: bold;
    font-size: 15px;
    font-weight: 800;
    margin-left: 200px;
}

.expertise {
    font-family: "Arial";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    margin-left: 200px;
    margin-top: 0;
}

img[src*="portrait"] {
    position: absolute;
    width: 15%;
    margin-top: 200px;
    margin-left: 25px;

    
}

